body{
  font-family: 'Lato', sans-serif;
  background:#F7F7F6;
}

.row{
  margin-top:50px;
}

.form-group{
  margin-top: 10px;
  
}

.email{
  margin-bottom:10px;
}

.password{
  margin-bottom:10px;
}

.btn-sm, .btn-group-sm>.btn {
  border-radius:0px;
}

.col-xs-3{
  padding-top: 4px;
}

img{
  border-radius:5px;
  padding-bottom:5px;
}