<%include ../layouts/header.ejs %> 
<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/gardens.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
     
  <% users.forEach(function (user){ %>
     <% user.gardens.forEach( function (garden) { %>
     
      <div class="gardenImages col-xs-4"><img src="<%= garden.title ? "/photos/" + garden.title : "" %>"></div>
      
    <%})%>
  <% })%>
 </div> 
</div>
</div>
</body>
</html>