<!--views/users/sign_up.ejs-->
<%include ../layouts/header.ejs %> 

<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/signup.css" rel="stylesheet" type="text/css"> 
  </head>
  

  <body>
  <div class="container">
  <div class="row">
    <div class="siginImage col-xs-9">
      <img src="images/signupFlowers.jpg">
  </div>
  <div class="col-xs-3">
    <form action="/users" method="post">
  <div>
  <input type="pass" name="user[email]" placeholder="Email" class="email">
  </div>
  <div>
  <input type="password" name="user[password]" placeholder="Password" class="password">
  </div>
  <div class="form-group">
    <input type="submit" value="signup" class="btn btn-Warning btn-sm btn-cust">
    </div>
    </form>
  </div>
</div>
</div>
  </body>
</html>